main {
    section {
        @apply border-b border-dirty-white;
    }
    .in-this-section {
        .group {
            @apply block relative border-b border-dirty-white;
        }
        .group::after {
            content: ' ';
            width: 4px;
            top: 2px;
            right: 0;
            bottom: 2px;
            border-top-left-radius: 25%;
            border-bottom-left-radius: 25%;
            @apply absolute hidden bg-deep-blue;
        }
        .group:hover::after, .group.active::after {
            @apply block;
        }
    }
}
